<div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Rasmi</th>
                            <th>Nomi</th>
                            <th>Narxi</th>
                            <th>Soni</th>
                            <th>Umumiy</th>
                            <th>O'chirish</th>
                        </tr>
                    </thead>
                    {% if products %}
                    	<tbody class="align-middle">
                        {% for product in products %}
                        	<tr>
                            <td class="align-middle"><img src="{{ product.image1.url }}" alt="" style="width: 50px;"></td>
                            <td class="align-middle"> {{ product.name }}</td>
                            {% if product.ceil > 0 %}
                            	{% for key,value in chegirmalar.items %}
                            	{% if key == product.id %}
                            		<td class="align-middle">{{ value }}</td>
                                {% endif %}
                            {% endfor %}
                            {% else %}
                                <td class="align-middle">{{ product.price }}</td>
                            {% endif %}

                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" data-cart-update-url="{% url 'cart:cart_update' %}" data-index="{{ product.id }}">
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    {% for key,value in prod_count.items %}
                                    	{% if key == product.id|slugify %}
                                    		<input type="text" id="update_quantity" class="form-control form-control-sm bg-secondary text-center" value="{{ value }}" disabled>
                                    	{% endif %}
                                    {% endfor %}

                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus" data-cart-update-url="{% url 'cart:cart_update' %}" data-index="{{ product.id }}">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            {% for key,value in product_total.items %}
                            	{% if key == product.id %}
                            		<td class="align-middle total-price">{{value}}</td>
                            	{% endif %}
                            {% endfor %}

                            <td class="align-middle"><button class="btn btn-sm btn-primary delete-cart" data-index="{{ product.id }}"><i class="fa fa-times"></i></button></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                    {% else %}
                        <p style="color: red; font-weight: bold; font-size: 20px">Hali savatchaga mahsulot qo'shmadingiz!</p>
                    {% endif %}
                </table>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Umumiy narx</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Haqiqiy narx:</h6>
                            <h6 class="font-weight-medium"><strike>{{total_ceil}}</strike></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Tejov:</h6>
                            <h6 class="font-weight-medium">{{tejov}}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Jami</h5>
                            <h5 class="font-weight-bold">{{total}}</h5>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3">Rasmiylashtirish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).on('click', '.delete-cart', function(e){
        e.preventDefault();
        $.ajax(
            {
                type: "POST",
                url: "{% url 'cart:delete_cart' %}",
                data: {
                    product_id: $(this).data('index'),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post',
                },
                success: function(json){
                    console.log(json);
                    location.reload();
                },
                error: function(msg, err){

                }
            }
        );
    });
</script>