{% load i18n %}
{% if products %}
	<div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>{% translate 'Rasmi' %}</th>
                            <th>{% translate 'Nomi:' %}</th>
                            <th>{% translate 'Narxi' %}</th>
                            <th>{% translate 'Soni' %}</th>
                            <th>{% translate 'Umumiy' %}</th>
                            <th>{% translate "O'chirish" %}</th>
                        </tr>
                    </thead>
                    	<tbody class="align-middle">
                        {% for product in products %}
                        	<tr>
                            <td class="align-middle"><img src="{{ product.image1.url }}" alt="" style="width: 50px;"></td>
                            <td class="align-middle"> {{ product.name }}</td>
                            {% if product.ceil > 0 %}
                            	{% for key,value in chegirmalar.items %}
                            	{% if key == product.id %}
                            		<td class="align-middle">{{ value }}</td>
                                {% endif %}
                            {% endfor %}
                            {% else %}
                                <td class="align-middle">{{ product.price }}</td>
                            {% endif %}

                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" data-cart-update-url="{% url 'cart:cart_update' %}" data-index="{{ product.id }}">
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    {% for key,value in prod_count.items %}
                                    	{% if key == product.id|slugify %}
                                    		<input type="text" id="update_quantity" class="form-control form-control-sm bg-secondary text-center" value="{{ value }}" disabled>
                                    	{% endif %}
                                    {% endfor %}

                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus" data-cart-update-url="{% url 'cart:cart_update' %}" data-index="{{ product.id }}">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            {% for key,value in product_total.items %}
                            	{% if key == product.id %}
                            		<td class="align-middle total-price">{{value}}</td>
                            	{% endif %}
                            {% endfor %}

                            <td class="align-middle"><button class="btn btn-sm btn-primary delete-cart" data-index="{{ product.id }}"><i class="fa fa-times"></i></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">{% translate "Umumiy narx" %}</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">{% translate 'Haqiqiy narx:' %}</h6>
                            <h6 class="font-weight-medium"><strike>{{total_ceil}}</strike></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">{% translate "Tejov:" %}</h6>
                            <h6 class="font-weight-medium">{{tejov}}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">{% translate 'Jami' %}</h5>
                            <h5 class="font-weight-bold">{{total}}</h5>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3" id="myBtn">{% translate "Buyurtma berish" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="container-fluid  mt-100">
				 <div class="row">
					<div class="col-md-12">
							<div class="card">
						<div class="card-header">
						</div>
						<div class="card-body cart">
								<div class="col-sm-12 empty-cart-cls text-center">
									<img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
									<h3><strong>Savatchangiz bo'sh</strong></h3>
									<h4>Xarid qilish uchun avval savatchaga qo'shing :)</h4>
									<a href="{% url 'index' %}" class="btn cart-btn-transform m-3" data-abc="true" id="contin">Xaridni davom ettirish</a>

								</div>
						</div>
				</div>
					</div>
				 </div>
</div>
{% endif %}

<!-- The Modal -->
<div class="container-fluid pt-5">
    <div id="myModal" class="bmodal row px-xl-5">
  <!-- Modal content -->
  <div class="bmodal-content col-lg-8 table-responsive mb-5">
  <h4>Mahsulotlarni rasmiylashtirish <span class="bclose">&times;</span></h4>

    <table class="table table-bordered text-center mb-0">
      <thead class="bg-secondary text-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nomi</th>
          <th scope="col">Narxi</th>
          <th scope="col">Soni</th>
        </tr>
      </thead>
      <tbody class="align-middle">
      {% for product in products %}
        <tr>
          <th class="align-middle">{{ product.id }}</th>
          <td class="align-middle">{{ product.name }}</td>
          <td class="align-middle">{{ product.price }}</td>
          {% for key,value in prod_count.items %}
            {% if product.id|slugify == key %}
            	<td class="align-middle">{{value}} ta</td>
            {% endif %}
          {% endfor %}
        </tr>
       {% endfor %}
      </tbody>
    </table>
      <a href="{% if user.is_authenticated %}{% url 'cart:order' %}{% else %}{% url 'users:login' %}{% endif %}"><button class="btn btn-block btn-primary my-3 py-3">Tasdiqlash</button></a>
  </div>
</div>
</div>


<script>
    $(document).on('click', '.delete-cart', function(e){
        e.preventDefault();
        $.ajax(
            {
                type: "POST",
                url: "{% url 'cart:delete_cart' %}",
                data: {
                    product_id: $(this).data('index'),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post',
                },
                success: function(json){
                    console.log(json);
                    location.reload();
                },
                error: function(msg, err){

                }
            }
        );
    });

    // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("bclose")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>