{% load static %}
{% load i18n %}
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        {% if request.path == '/' %}
            <h2 class="section-title px-5"><span class="px-2">{% translate "Eng qaynoq to'plam" %}</span></h2>
        {% endif %}
    </div>
    <div class="row px-xl-5 pb-3">
        {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <a href="{% url 'detail' product.pk %}"><img class="img-fluid w-100" src="{{ product.image1.url }}" alt=""></a>
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{ product.name }}</h6>
                        <div class="d-flex justify-content-center">
                            {% if product.ceil %}
                                {% for ceil, price in ceils.items %}
                                    {% if ceil == product.id %}
                                        <h6>{{ price }}</h6><h6 class="text-muted ml-2"><del>{{ product.price }}</del></h6>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <h6>{{ product.price }}</h6><h6 class="text-muted ml-2"></h6>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border" data-url="{% url 'cart:add_cart' %}" id="cartbtn" data-favorite="{% url 'favorite:add_favorite' %}" data-favorite-del="{% url 'favorite:del_favorite' %}">
                        <a href="{% url 'detail' product.pk %}" class="btn btn-sm text-dark p-0" id="view-details"><i class="fas fa-eye text-primary mr-1"></i>{% translate 'Read more' %}</a>
                        {% if product.id|slugify in fav_prod %}
                            <button class="btn btn-sm text-dark p-0 solid" data-product-id="{{ product.pk }}" id="solid{{ product.id }}"><i class="fa-solid fa-heart text-primary mr-1 {{ product.id }}" style="font-size: 25px;" id="solid"></i></button>
                        {% else %}
                            <button class="btn btn-sm text-dark p-0 regular" data-product-id="{{ product.pk }}" id="favorite{{ product.id }}"><i class="fa-regular fa-heart text-primary mr-1 {{ product.id }}" style="font-size: 25px;" id="regular"></i></button>
                        {% endif %}
                        <button class="btn btn-sm text-dark p-0 add-to-cart-btn" data-product-id="{{ product.pk }}"><i class="fas fa-shopping-cart text-primary mr-1"></i>{% translate 'Add to cart' %}</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- cart Modal -->
<div id="cartModal" class="modal col-lg-8 col-md-10 col-sm-4 w-100">
  <!-- Modal content -->
  <div class="modal-content col-lg-8 col-md-10 col-sm-4 w-100">
    <!-- <span class="close">&times;</span> -->
    <p>{% translate "Maxsulot savatchaga qo'shildi!" %}</p>
      <div class="rasm">
          <img src="" alt="" id="prod-rasm" width="70px">
          <div class="prod-name">
              <p>{% translate "Nomi:" %} <span id="nomi"></span></p>
              <p>{% translate "Soni:" %} <span id="soni"></span></p>
          </div>
      </div>
    <div class="modal-btn">
      <button class="btn btn-primary ok-btn" id="close">OK</button>
      <a href="{% url 'cart:cart_summary' %}" class="btn btn-primary ok-btn">{% translate "Savatchaga o'tish" %}</a>
    </div>
  </div>
</div>

{#FAVORITE MODAL#}
<div id="favoriteModal" class="modal col-lg-8 col-md-10 col-sm-4 w-100">
  <!-- Modal content -->
  <div class="modal-content col-lg-8 col-md-10 col-sm-4 w-100">
    <!-- <span class="close">&times;</span> -->
    <p>{% translate "Sevimlilarga qo'shildi!" %}</p>
      <div class="rasm">
          <img src="" alt="" id="prod-rasmi" width="70px">
          <div class="prod-name">
              <p>{% translate "Nomi:" %} <span id="nom"></span></p>
              <p>{% translate "Narxi:" %} <span id="narx"></span></p>

          </div>
      </div>
    <div class="modal-btn">
      <button class="btn btn-primary ok-btn" id="close">OK</button>
      <a href="{% url 'favorite:favorites' %}" class="btn btn-primary ok-btn">{% translate "Sevimlilarga o'tish" %}</a>
    </div>
  </div>
</div>

