{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="login">
        <form action="" method="post" class="login-form col-lg-6 col-md-6 col-sm-4">
            <h2>{% translate 'Kirish' %}</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="mbr-section-btn mt-3 btn btn-primary display-7" type="submit">{% translate 'Kirish' %}</button>
        <p>{% translate "Don't have an account?" %} <a href="{% url 'users:register' %}">{% translate "Ro'yxatdan o'tish" %}</a></p>
        </form>
    </div>

{% endblock %}