{% extends "base.html" %}


{% block content %}
    <div class="login">
        <form action="" method="post" class="login-form" enctype="multipart/form-data">
            <h2>Mening ma'lumotlarim</h2>
            {% if user.image %}
            	<img src="{{ user.image.url }}" alt="" width="200px" class="user-photo">
            {% else %}
                <img src="https://t4.ftcdn.net/jpg/02/89/59/55/360_F_289595573_wCKO1nxxx7HGk69z5szjvSOqPnZVTfTG.jpg" alt="" width="200px" class="user-photo">
            {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="login_btn">Saqlash</button>
        </form>
    </div>

{% endblock %}