{% extends 'base.html' %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">{{ season.name }}</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'index' %}">Bosh sahifa</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">{{ season.name }}</p>
            </div>
        </div>
    </div>
    {% include "includes/trandy_products.html" %}

{% endblock %}